.game h1{
    font-size: 2em;
}

.points span{
    font-weight: bold;
}

.tip span{
    color: #ecfa00;
}

.wordContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid rgba(9, 11, 50, 0.928);
    border-radius: 20px;
    display: flex;
}

.letter, .blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: bold;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer input {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    border: solid 2px  rgba(9, 11, 50, 0.928);;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}